<div class="row">
    <div class="col">
        <h1>Write Bennett Code Here!</h1>
        <textarea style="width: 100%" spellcheck="false"
        [ngModel]="textInput" (ngModelChange)="parseInput($event)"></textarea>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="toggleRenderMode()">Toggle Render Mode</button>
        <h1>Bennett outputs html here</h1>
        <div id="textBox" *ngIf='!renderHTML'>
            <textarea disabled style="width: 100%; height: 80vh;" spellcheck="false"
            [ngModel]="textOutput"></textarea>    
        </div>
        <div id="htmlBox" *ngIf='renderHTML' [innerHTML]='textOutput'>

        </div>
    </div>
</div>

<!-- 
p>span>li*3^p^p
<p>
    <span>
        <li></li>
        <li></li>
        <li></li>
    </span>
    <p></p>
</p>
<p></p> 
-->
