<div class="row">
    <div class="col">
        <h1>Write Bennett Code Here!</h1>
        <textarea style="width: 100%" spellcheck="false"
        [ngModel]="textInput" (ngModelChange)="parseInput($event)"></textarea>
    </div>
    <div class="col">
        <h1>Bennett outputs html here</h1>
        <textarea disabled style="width: 100%; height: 80vh;" spellcheck="false"
        [ngModel]="textOutput"></textarea>    
    </div>
</div>

<!-- 
p>span>li*3^p^p
<p>
    <span>
        <li></li>
        <li></li>
        <li></li>
    </span>
    <p></p>
</p>
<p></p> 
-->
